body {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}

/* Estilos para el encabezado */
header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 5px;
    z-index: 2;
}

.logo-izquierda {
    padding: 10px;
    margin-left: 200px;
}

.logo-derecha {
    padding: 10px;
    margin-left: auto;
    margin-right: 200px;
}

.cinta-roja {
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: red;
}

/* Estilos para la sección de contador */
.imagen-fondo {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 715px;
    background-color: #000;
}

.iframe-container iframe {
    position:absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ajusta el ancho del iframe */
    height: 60%; /* Ajusta la altura del iframe */
    z-index: 999; /* Ajusta el índice z para que esté sobre la imagen de fondo y otros elementos */
}

.imagen-fondo img {
    width: 1400px;
    height: auto;
    object-fit: cover;
}

.imagen-fondo::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta el último valor para cambiar la opacidad (0 es transparente, 1 es opaco) */
    z-index: 998; /* Asegúrate de que esté por debajo del iframe */
    display: none; /* Para ocultar el fondo inicialmente */
}

h1 {
    font-size: 2em;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    top: 2%;
}

.countdown-container {
    position: absolute;
    top: 11.7%; /* Ajusta la posición vertical del contenedor del contador en PCs */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 3;
    display: flex;
    align-items: center;
}

.countdown-item {
    margin: 0 6px; /* Ajusta el espacio entre los círculos */
    text-align: center;
}

.countdown-circle {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px; /* Ajusta la altura total para incluir el espacio para las letras */
    display: flex;
    flex-direction: column; /* Hacer que las letras aparezcan debajo de los números */
    justify-content: center; /* Alinea las letras en el centro del círculo */
    align-items: center;
    margin-top: 95px;
}

.countdown-number {
    font-size: 34px;
    margin-bottom: -9px; /* Ajusta la posición vertical del número */
}

.countdown-letter {
    font-size: 3px;
    margin-top: -9px; /* Ajusta la posición vertical de la letra */
}

/* Estilos para la sección con fondo gris */
.fondo-gris {
    background-color: #191919;
    color: #ffffff;
    padding: 225px 200px 35px;
    position: relative;
    z-index: 1;
}

/* Estilos para el h1 dentro de la sección con fondo gris */
.fondo-gris h1 {
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 2em;
    margin: 0;
    position: relative;
    top: -160px;
    text-align: center;
    font-weight: 300;
}

.botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -160px; /* Ajusta el margen superior del contenedor de botones */
}

/* Estilos para cada botón */
.boton {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 10px;
    overflow: hidden;
}

/* Estilos para cada botón y párrafo */
.boton,
.boton p {
    width: 180px;
    text-align: center;
}

/* Estilos para mostrar el párrafo al hacer hover en el botón */
.boton:hover p {
    opacity: 1;
}

/* Estilos para mostrar el fondo rojo circular al hacer hover */
.boton:hover::before {
    opacity: 1;
}

/* Estilos para el contenedor de párrafos */
.parrafos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px; /* Ajusta la distancia entre los botones y los párrafos */
}

/* Estilos para cada párrafo */
.parrafos-container p {
    width: 180px;
    text-align: center;
    margin: 10px; /* Espaciado entre los párrafos */
    font-size: 14px;
    margin-top: -10px;

}

/* Estilos para cada botón */
.boton {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 10px;
    overflow: hidden;
}

/* Estilos para mostrar el texto al hacer hover */
.boton:hover .texto {
    opacity: 1;
}

/* Estilos para el párrafo debajo del botón */
.boton p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px; /* Ajusta la distancia entre el texto y el párrafo */
    opacity: 0;
    transition: opacity 0.5s;
}

/* Estilos para mostrar el párrafo al hacer hover */
.boton:hover p {
    opacity: 1;
}

/* Estilos para la imagen dentro del botón */
.boton img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: filter 0.5s;
}

/* Estilos para el fondo rojo circular al hacer hover */
.boton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.5s;
}

/* Estilos para mostrar el texto al hacer hover */
.boton:hover::before {
    opacity: 1;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2; /* Asegura que el texto esté sobre la imagen */
}

.boton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.5s;
    z-index: 1; /* Asegura que el fondo rojo esté detrás de la imagen */
}

/* Estilos para el pie de página */
.pie-pagina {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos a los extremos del pie de página */
    align-items: center; /* Para centrar verticalmente los elementos en el eje Y */
}

/* Estilos para el enlace a la izquierda en el pie de página */
.enlace-izquierdo {
    align-self: flex-start;
    margin-left: 155px; /* Ajusta el margen a la izquierda del enlace */
    margin-top: 20px; /* Ajusta el margen superior del enlace */
}

.enlace-izquierdo a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px; /* Ajusta el margen a la derecha del enlace */
}

/* Estilos para el logo en el centro en el pie de página */
.logo-centro {
    flex-grow: 1; /* Hace que el logo ocupe el espacio disponible en el centro */
}

/* Estilos para las imágenes de redes sociales a la derecha en el pie de página */
.redes-sociales {
    display: flex;
    align-items: center;
}

.redes-sociales a {
    margin-left: 15px; /* Espaciado entre las imágenes */
}

.redes-sociales a:last-child {
    margin-right: 200px; /* Ajusta el margen a la derecha solo para el último elemento */
}

.redes-sociales img {
    width: 30px; /* Ajusta el tamaño de las imágenes */
    height: auto;
}

.iframe-container iframe {
    width: 204%;
    height: 246%;
    position: fixed;
    top: 124.5%;
}


/* Media Query para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .logo-izquierda {
        margin-left: 10px;
    }

    .logo-derecha {
        margin-right: 10px;
    }

    .cinta-roja {
        display: none; /* Ocultar la cinta roja en pantallas más pequeñas */
    }

    h1 {
        top: 2%; /* Ajusta la posición vertical del título para dispositivos móviles */
    }

    .countdown-container {
        top: 15%; /* Ajusta la posición vertical del contenedor del contador en dispositivos móviles */
    }

    .imagen-fondo {    
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 500px; /* Ajusta la altura */
    background-color: #000;
    }

    .imagen-fondo img {
        width: 100%; /* Ajusta el ancho para dispositivos más pequeños */
        height: 500px;
        object-fit: cover;
    }

    .fondo-gris {
        padding: 100px 20px 60px; /* Ajusta el padding para pantallas más pequeñas */
    }   

    .enlace-izquierdo {
        margin-left: -5px;
        font-size: .8em;
        margin-top: 10px;
    }

    .logo-centro {
        flex-grow: 1; /* Hace que el logo ocupe el espacio disponible en el centro */
        margin-left: 8px;
    }

    .redes-sociales a:last-child {
        margin-right: 10px;
    }

    .redes-sociales img {
        width: 20px; /* Ajusta el tamaño de las imágenes */
        height: auto;
    }

    .fondo-gris h1 {
        font-size: 1.5em; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        top: -65px; /* Ajusta la posición vertical del título para pantallas más pequeñas */
    }

    .botones-container {
        flex-direction:column; /* Cambia la dirección del contenedor a columna en dispositivos más pequeños */
        align-items: center; /* Centra los elementos en el eje Y */
        margin-top: -80px; /* Ajusta el margen superior del contenedor de botones */
    }

    .boton {
        margin: 10px 0; /* Ajusta el espacio entre los botones */
        text-align: center; /* Centra el contenido del botón en dispositivos móviles */
    }

    .boton p {
        opacity: 0; /* Oculta los párrafos en dispositivos móviles */
        transition: opacity 0.5s; /* Agrega una transición de opacidad para una animación suave */
    }
    
    .boton:hover p {
        opacity: 1; /* Muestra los párrafos al hacer hover en dispositivos móviles */
    }   

    .iframe-container iframe {
        width: 129%;
        height: 155%;
        position: fixed;
        top: 115%;
    }

}
